<div class="footer">
    <table class="table">




    </table>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="footerTableHeader1 filterFooterEl">
                        <div class="phoneIcon"><img src="https://img.icons8.com/?size=512&id=30428&format=png" alt=""></div>
                        <div class="footerTableHeader">87076446034</div>
                    </div>
                </th>
                <th>
                    <div class="footerTableHeader2 filterFooterEl">
                        <div class="emailIcon"><img src="https://img.icons8.com/?size=512&id=SGCKpmr2U7Sq&format=png" alt=""></div>
                        <div class="footerTableHeader">info@sadi@mail.ru</div>
                    </div>
                </th>
                <th>
                    <div class="footerTableHeader3 filterFooterEl">
                        <div class="skypeIcon"><img src="https://img.icons8.com/?size=512&id=63204&format=png" alt=""></div>
                        <div class="footerTableHeader">Kairat Maukebaev</div>
                    </div>
                </th>
            </tr>
            <div class="underLine"></div>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="firstRow">Строительные материалы</div>
                </td>
                <td>
                    <div class="secondRow">Сборники</div>
                </td>
                <td>
                    <div class="thirdRow">Прайс листы</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="firstRow">Машины и механизмы</div>
                </td>
                <td>
                    <div class="secondRow">Реестр всех компаний</div>
                </td>
                <td>
                    <div class="thirdRow">Для поставщиков</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="firstRow">Перевозка грузов</div>
                </td>
                <td>
                    <div class="secondRow">Smart Tender</div>
                </td>
                <td>
                    <div class="thirdRow">для закупщиков</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="firstRow">Сметные тарифные ставки</div>
                </td>
                <td>
                    <div class="secondRow">Тендеры онлайн</div>
                </td>
                <td>
                    <div class="thirdRow">О нас</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="firstRow"></div>
                </td>
                <td>
                    <div class="secondRow"></div>
                </td>
                <td>
                    <div class="thirdRow">Контакты</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="firstRow"></div>
                </td>
                <td>
                    <div class="secondRow">@Copyright ТОО NurSadi </div>
                </td>
                <td>
                    <div class="thirdRow"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>